/** 
External CSS styles 
**/

body {
  margin: 0 auto;
  padding: 0;
  background-color: lightgray;
  line-height: 34px;
  font-family: "arial", Arial, Helvetica, sans-serif;
}

header {
  margin:0 auto;
  background-color: #fff;
  width: 100%;
  height: 100px;
  float: left;
  margin-bottom: 20px;
  border-bottom: darkgrey thin solid;
}

.main {
  width: 960px;
  margin: 0 auto;
}

h1{
  margin:0 auto;
  color: white;
  height: 100%;
  margin-left: 19%;
  text-align: center;
  font-size: 27px;
}

.name{
  background-color: #4aaaa5;
  color: white;
  width: 150px;
  padding: 16px;
  text-align: center;
  float: left;
}

.links{
  float: left;
  background: white;
  width: 500px;
  height: 100px;
  padding-top: 10px 0;
  padding-left: 30%;
}

h2{
  float: left;
  margin-left: 10px;
  margin-top: 35px; 
  background-color: white;
  color: rgb(119, 119, 119);
  border-color: lightblue;
  border-right-width: thick;
}

h3{
  color:#4aaaa5;
  font-size: 22px;
  padding: 15px 15px 0px 15px;
}

.di1{
  width: 250px;
  float: left;
}

.divider{
  height: 2px;
  background: lightgrey;
  margin: 15px;
}

.container{
  float: left;
  width: 650px;
  margin: 0 auto;
  padding-bottom: 40px;
  background: white;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
}

.cont_conn{
  padding: 15px 35px 35px 35px;
  float: left;
  width: 200px;
  background: white;
  margin-left: 20px;
  height: 200px;
}

.social{
  height: 40px;
  width: 40px;
  float: left;
  margin: 10px;
}

.bio-image{
  padding: 15px 15px 15px 15px;
  float: left;
  align:left;
  clear: both;
}

.profile {
  color: #777;
  text-align: left;
  padding-left: 15px;
}

footer {
  text-align: center;
  clear: both;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  border-top: #4aaaa5 thick solid;
  background-color: #666;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
}

.labels{
  padding-left:15px;
  width: 80%;
}

.wrapinput{
  padding-left:15px;
}

.inp1{
  width: 80%;
  padding-left:15px;
  text-align: left;
}

.inp2{
  width: 80%;
  height: 120px;
  padding-left:15px;
}

.submit{
  background: #4aaaa5;
  color: white;
}

.port{
  height:155px;
  width: 175px;
  float: left;
}

.port2{
  margin: 50px;
  height:155px;
  width: 175px;
  float: left;
}

.portfolio{
  margin-left: 30px;
}

.piclabel{
  position: absolute;
  margin-top: 110px;
  width: 175px;
  height: 40px;
  background: #4aaaa5;
  text-align:center;
  color: white;
}