.body{
  margin: 0 auto;
}

.main {
}

.hname{    
  margin: 0 auto;
  text-align: center;
}

h1{
  background-color: #4aaaa5;
  color: white;
  margin: 0 auto;
  height: 100%;
  padding: 15px;
}

h2{
  color: #4aaaa5;
}

.social{
  height: 40px;
  width: 40px;
  float: left;
  margin: 10px;
}

.divider{
  height: 2px;
  background: lightgrey;
  margin: 15px;
}

footer{
  text-align: center;
  border-top: #4aaaa5 thick solid;
  background-color: #666;
  padding: 5px;
  color: white;
}
